about#About
    .about-wrap
        .col-left
            .portrait
        .col-right
            .word-wrap
                h2 Hello!
                p.one My name is Schiller Anthony.
                p.two As a Java backend developer, I find joy in a diverse range of hobbies, including music, playing the guitar, skateboarding, hiking, and gaming. This passion for creativity and expression has led me to delve into the realms of game development, specifically by learning Cocos and RPG Maker MV. To showcase my projects and accomplishments, I have adopted and customized Zhi Zhou's personal website template as a portfolio, ensuring a seamless and engaging experience for viewers.


