mixin thumb(pugclass, pughref, image, name, date )
    a(class="article-thumb "+pugclass, href="./posts"+pughref)
        .thumb-image(style='background-image:url(' + require('../images/articles/' +`${image}` + '.jpg') + ')')

        .article-meta
            .name= name
            .date= date

articles
    .article-wrap
        .vueArticle.design.show
            +thumb('design',
                    '/Gitee-Show.html',
                    'design_01',
                    'Gitee-Show',
                    'Oct 16, 2024')

    .article-wrap
        .vueArticle.research
            +thumb('research',
                    '/Roguelike.html',
                    'game_01',
                    'Roguelike',
                    'July 17, 2024')

            +thumb('research',
                    '/Cocos-Demo.html',
                    'game_02',
                    'Cocos-Demo',
                    'Oct 16, 2024')

    .article-wrap
        .vueArticle.other
            +thumb('other',
                    '/to-be-continued.html',
                    'other_03',
                    'To-Be-Continued',
                    'Jan 06, 2020')
