tabs#Work
    .button-wrap
        .buttons
            button(class='dynamicTabs design').is-active Projects
            button(class='dynamicTabs research') Games
            button(class='dynamicTabs other') Other
